<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="slider glide__slides">
      <% images.each do |image| %>
        <li class="glide__slide">
          <%= image %>
        </li>
      <% end %>  
    </ul>
  </div>

  <div class="glide__bullets" data-glide-el="controls[nav]">
    <% images.each_with_index do |item, index| %>
      <button class="glide__bullet" data-glide-dir="=<%= index %>"></button>
    <% end %>
  </div>
</div>
