<h1><%= root %></h1>

<ul>
  <% items.each do |item| %>
    <li>
      <a href="<%= item.url %>">
        <%= item.title %>
      </a>

      <% if item.updated_at %>
        <div id='updated_at'>
          <%= item.updated_at %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
