/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1.1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 1.2em;
    /*padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;*/
    /*font-family: 'Roboto Mono', monospace;*/
    /*background: #f7f7f7;*/
    /*color: #2E383F;*/
}

h1 {
  /*background-color: #F6BB42;*/
  /* padding: 20px; */
  display:inline-block;
  text-align: center;
  padding: 0.5em;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
}

section {
  max-width: 700px;
}

footer {
  padding-top: 2em;
  text-align: center;
  color: #E6E6E6;
  font-size: 0.6em;
}

footer a {
  color: #E6E6E6 !important;
  border-bottom: none;
}

.emoji {
  font-size: 3em;
  margin: 0;
}

section .emoji {
  font-size: 1.8em;
}

body#home  {
  font-family: 'Roboto', sans-serif;
  color: #1C3E5B;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  #banana section {
    padding-left: 50px;
  }

  #home h1 {
    font-size: 2.2em;
  }

  #home h2 {
    font-size: 2.2em;
  }
}  

#home section {  
  margin: 0 auto;  
}

#home h1 {  
  background-color: #EF476F;
  color: #f7f7f7;
  /*font-size: 2.2em;  */
}

/*#home h2 {  
  font-size: 2.2em;
}
*/
#home p {
  font-size: 1.15em;
}

#home a {
  color:#1C3E5B;  
  border-bottom-color: #F16889;
}

body#banana {
  font-family: 'Roboto Mono', monospace;
  background: #f7f7f7;
  color: #2E383F;
}

#banana h1 {  
  background-color: #F6BB42;
  padding: 0.3em;
}

#banana a {
  color: #2E383F;
  border-bottom-color: #F6BB42;
}


body#jazz {
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: 'PT Sans', sans-serif;*/
  /*font-family: 'Playfair Display', serif;*/  
  background: #F9F9F8;
  color: #034E3B;
}

#jazz section {  
  margin: 0 auto;  
}

#jazz h1 {  
  background-color: #06D6A0;
  color:#036249;
  padding: 0.3em;
}

#jazz p {
  font-size: 1.2em;
  line-height: 1.5em
}

#jazz a {
  color: #034E3B;

  /*color: #2E383F;*/
  border-bottom-color: #06D6A0;
}

body#zee {
  font-family: 'Quicksand', sans-serif;
  background: #FAFAFA;
  color: #373A3E;
}

#zee section {  
  margin: 0 auto;  
}

#zee h1 {
  background-color: #262626;
  color:#FAFAFA;
  padding: 0.3em;
}


#zee a {
  color: #373A3E;

  /*color: #2E383F;*/
  border-bottom-color: #739CCF;
}

#zee .social { 
  padding-top: 0.5em;
 /*border-bottom: 2px solid;
 border-bottom-color: #739CCF; 
 display:inline-block;*/
}

#zee .social a {
  /*color: #373A3E;*/

  /*color: #2E383F;*/
  border-bottom-style: none;
  padding-right: 0.5em;
}

@media only screen and (max-width: 600px) {
  #zee h2 {
    font-size: 1.2m;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== 

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
