<h1><%= @primary_site.domain%></h1>

<h2>Pages</h2>

<table>
  <tbody>
    <% @primary_site.pages.each do |page| %>
      <tr>
        <td>
            <a href="<%= edit_page_path(page)%>">
              <%= page.title %>
            </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Page", new_page_path %>
